# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.5
notifications:
  email: false
script:
    - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
    #- julia -e 'Pkg.add("Ipopt")'
    - julia -e 'Pkg.clone(pwd()); Pkg.test("MultiJuMP", coverage=true)'
#after_success:
#   - julia -e 'cd(Pkg.dir("MultiJuMP")); Pkg.add("Coverage"); using Coverage; Codecov.submit(process_folder())'
